*{ box-sizing: border-box}

body {
    background-color: #000048;
    font-family: "Mina", sans-serif;
    color: #f4fdff;
    
}

.h2 {
    text-transform: uppercase;
    text-align: center;
}

header {
    background-color: #065da4;
    color: #f4fdff;
    margin: -8px;
}

/*Home*/

.home-bo {
    background-image: url(../images/background-snow.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-h1 {
    color: #f4fdff;
    font-size: 40px;
    font-weight: 600;
    text-decoration: underline;
}

.home-p {
    color: #f4fdff;
    font-size: 30px;
    font-weight: 600;
}

.home-div {
    border: 5px solid #f4fdff;
    background-color: rgba(6, 93, 164, 0.37);
    margin-top: 7px;
    margin-left: -7px;
}

.p-index {
flex-wrap: wrap;
    order: 1;
}

.i-index {
    flex-wrap: wrap;
    order: 2;
}

/*Portfolio*/
.Po-div {
    border: 5px solid #f4fdff;
    width: 36%;
    background-color: #065da4;
    flex-flow: wrap;
    flex-direction: column;
    margin-top: 10px;
}

.Po-bo {
    background-image: url(../images/background-file2.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-flow: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-items: center;
}

[class^="box"] {
    padding: 112px;
}
.box1 {
    order: 1;
}

.box2 {
    order: 2;
}

.box3 {
    order: 3;
}

.box4 {
    order: 4;
}

.box5 {
    order: 5;
}

.box6 {
    order: 6;
}


/*Portfolio Art*/
.Po-Art-img {
    margin-left: 100px;
}

.poArt {
    
}

/*Resume*/

.Resume {
    
}


.Linked {
  color: #f4fdff;
    
}

/*About Me*/

.ab-h2 {
    margin-top: 50px;
    margin-left: 50px;
    text-decoration: underline;
    text-align: center
}

.abMe {
    letter-spacing: 1px;
    margin-top: 55px;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(6, 93, 164, 0.34);
    border: 5px solid #f4fdff;
}

.abMe-bo {
    background-image: url(../images/background-file.jpeg);
    background-size: cover;
}

/*Resume*/

.Re-h2 {
    width: 50%;
    margin-left: 40px;
    text-decoration: underline;
}


.Re {
    width: 51%;
}

.Re-h2 {
    width: 50%;
    margin-left: 40px;
    text-decoration: underline;
}


.Re {
    width: 51%;
}

.first {
    
}

/*Nav Bar*/

.nav {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-between;
    padding: 0;
    list-style-type: none;
    
}

li {
    border-radius: 15px;
    display:inline-block;
    border: 5px solid #f4fdff;
}

li a {
    color: #f4fdff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    padding: 5px;
}

.Drop {
    position: relative;
    display: inline-block;
}

.Sub {
    display: none;
    position:absolute;
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sub li {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.Drop:hover .Sub {
    display: block;
}

a:hover {
    color: #f4fdff;
}

@media only screen and (min-width: 481px) and (max-width: 1024px){
    
}

@media only screen and (max-width: 480px) {
    
}